
<div id="carouselExampleAutoplaying" class="carousel slide mx-3" data-bs-ride="carousel">
  <div class="carousel-inner my-2">
    <div class="carousel-item active">
      <%= image_tag "birds.png", class:"w-100"%>
    </div>
    <div class="carousel-item">
      <%= image_tag "beijaflor.png", class:"w-100" %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container mt-5">
  <div class="text-center">
    <%= image_tag('maino.png', alt: 'Imagem de um beija-flor', class: 'bg-image') %>
  </div>
  <%= paginate @posts, window: @posts.total_pages %>
  <%= form_with(url: posts_path, method: :get, local: true, class: "row g-3 align-items-center") do |form| %>
    <div class="col-auto my-2">
      <%= form.label :tag, t("posts.filter_by_tag"), class: "col-form-label" %>
    </div>
    <div class="col-auto my-2">
      <%= form.select :tag, Tag.all.pluck(:name, :name), {include_blank: "All Tags"}, {class: "form-select", style: "width: auto;"} %>
    </div>
    <div class="col-auto my-2 ">
<%= form.button class: "btn btn-primary" do %>
  <i class="fa-solid fa-magnifying-glass"></i> <%= t("posts.filter") %>
<% end %>

</div>
  <% end %>

  <% @posts.each do |post| %>
    <div class="card card-custom mb-3">
      <div class="card-body">
        <h2 class="card-title"><%= link_to post.title, post_path(post), class: "text-decoration-none" %></h2>
        <p class="card-text"><%= post.body %></p>
        <% if post.tags.any? %>
          <p>Tags:
            <% post.tags.each do |tag| %>
              <span class="badge bg-primary"><%= tag.name %></span>
            <% end %>
          </p>
        <% else %>
         <p><%=t("posts.no_tags") %></p>
        <% end %>

        <p><%= t("posts.author") %>: <%= post.user.email %></p>
        <p><%= t("posts.quantity_comments") %>: <%= post.comments.count %></p>

      </div>
    </div>
  <% end %>
  <%= link_to new_post_path, class: "btn btn-success mb-3 text-black btn-new" do %>
    <i class="fas fa-plus"></i> <%= t('posts.new_post') %>
  <% end %>

</div>
