<div class="container mt-4">

  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card card-custom mb-3">
        <div class="card-header card-header-custom">
          <h1><%= @post.title %></h1>
        </div>
        <div class="card-body">
          <p><%= @post.body %></p>
        </div>
      </div>
      <%= link_to 'Download File', download_post_path(@post), class: 'btn btn-primary' %>

      <div class="card card-custom">
        <div class="card-header card-header-custom">
         <%= t("posts.add_comment")  %>
        </div>
        <div class="card-body">
          <%= simple_form_for([@post, @post.comments.build], html: { class: 'form-horizontal' }) do |form| %>
            <% if user_signed_in? %>
              <p class="mb-2">Commenting as:
                <%= current_user.email %></p>
            <% else %>
              <p class="mb-2">Commenting as: Anonymous</p>
            <% end %>
            <%= form.input :body,
                       required: true,
                       as: :text,
                       label: false,
                       placeholder: "Type your comment here...",
                       input_html: {
                         class: "form-control",
                       } %>

            <%= form.button :submit, t("posts.post_comment"), class: "btn btn-comment mt-2" %>
          <% end %>
        </div>
      </div>

      <div class="card card-custom mt-4">
        <div class="card-header card-header-custom">
            <h2><%= t("posts.comment") %></h2>
        </div>
        <div class="card-body">
          <% @post.comments.each do |comment| %>
            <% unless comment.body.blank? %>
              <div class="comment comment-custom">
                <strong><%= comment.user ? comment.user.email : t("posts.anonimo") %>:</strong>
                <p><%= comment.body %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class=" d-flex my-2">
  <% if user_signed_in? && current_user == @post.user %>
    <%# deletar um post se o usuario for o dono do post %>
    <%= link_to post_path(@post),
      method: :delete,
      data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure you want to delete this post?",
      },
      class: "btn btn-danger text-white",
      method: :delete do %>
      <i class="fas fa-trash-alt mr-2"></i> <%= t("posts.delete_post") %>
    <% end %>
  <% end %>

  <%= link_to root_path, class: 'btn btn-primary btn-custom mx-2' do %>
    <i class="fas fa-arrow-left mr-2"></i> <%= t("posts.btn_back")
   %> <% end %>

   <%= link_to edit_post_path(@post), class: 'btn btn-info' do %>
  <i class="fas fa-edit"></i> Edit
<% end %>

</div>

      </div>
    </div>
  </div>
</div>
